.temp{
  height: 50px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  align-items: center;
  display: flex ;
}
a{
color: chocolate;
  margin: 200px;
  text-decoration: none;
}
.uzumaki:hover{

color: rgb(0, 255, 149);
  animation-delay: 2s;

}
.onepiece:hover{
  color: chartreuse;
}
.logo{
  
  background-color: orange;
  border-radius: 7px;
}
.input:active{

border-radius: 25px;
animation-duration: 3s;
animation-name: inherit;

}
.vagastore:hover{
color: rgb(0, 255, 55) ;
}
.bg{
  align-content: center;
  align-items: left;
  height: 10px;
  width: 10px;
}
.input:hover{
color: orangered;
border-radius: 30px;
animation-duration: 2s;
animation-delay: 3s;
}

.logo:hover{

  background-color: rgb(255, 136, 0);
  animation-delay: 2s ;
}


  











.contentbox{

height: 100px;
width: 100px;
border: 2px solid black;
border-radius: 10px; 
background-color:  rgb(8, 138, 127);
margin: 8px;
display: inline-block;
background-image: url("file:///C:/Users/vagar/OneDrive/Pictures/backiee-194568-landscape.jpg");
background-size: cover;
transform: scale(1,1);
padding: 10px;
 }
 .contentbox:hover{
  background-color: chartreuse;
 }














 
 
 
 
 .container{
   height: 200px;
   width: 900px;
   
 
   border: 2px solid black;
   animation-name: rehan;
   animation-duration: 3s;
   animation-delay: 0s;
   animation-iteration-count: infinite;
   border-radius: 50px ;
   animation-direction: alternate ;
  }
  
  
  
  
  
   @keyframes rehan {
    from { right: 0px; }
    to { right: 2000px;}
   }















.panel{



align-items: center;
background-color: #222f3d;
padding: 10px;
justify-content: space-evenly;
  height: 40px;
display: flex;}









.calculator{
  margin: 10px;
  height: 530px;
  width: 450px;
  background-color: rgb(58, 63, 59);
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-left: 40%;
  margin-top: 20px;

  


}
.btn{

  height: 100px;
  width: 100px;
  gap: 20px;
  border-radius: 2%;
  color: white;
  background-color: rgb(236, 162, 3);
  font-size: larger;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.btn:hover{
background-color: rgb(69, 200, 209);

}
btn:active{

  background-color: rgb(26, 19, 16);

}

#display{
width:400px;
height: 30px;
gap: 10px;
padding: 10px;
font-size: larger;

}

.plus{

  height: 100px;
  width: 100px;
  background-color: #222f3d;
  font-size: larger;
}
.minus{
  height: 100px;
  width: 100px;
  background-color: blue;
  font-size: larger;
}
.eq{
  height: 100px;
  width: 100px;
  background-color: rgb(255, 0, 0);
  font-size: larger;
}



.deals{


}

.service{

  <a href="https://www.youtube.com/"
}
























 .container:hover{
  background-color: brown;
 }





































